.header {
    position: sticky;
    width: 100%;
    padding: 0;
    margin: 0, auto;
    top: 0;
    display: flex;
    align-items: center;
    height: 115px;
    z-index: 20;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10pt;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.header_row {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0px;
    align-items: flex-start;
    justify-content: space-between; 
    height: 100%;
    color: white;
    background-image: url(../images/title_icon_latest.png);
}
.logout_button_wrapper {
    padding-right: 0;
}
.reset_button_wrapper {
    padding-left: 0;
}
.logout_button .reset_button {
  
    border:  5px solid red;
}
.modal {
    margin-top: 10%;
}
.modal-body {
    width: 100%;
    margin: 0;
    font-size: 10pt;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-content {
    background-color: rgb(228, 169, 142);
}
.modal-header {
    width: 100%;
    margin: auto;
}
.modal {
    z-index: 1051;
}
/* .header_img {
    margin-top: 0;
    padding-top: 0;
    height: 115px;
    opacity: .8;
} */