.home {
    position:static;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    height: calc(100vh - 120px);
    overflow-y: scroll;
    font-family: 'Chakra Petch', 'Courier New', Courier, monospace;
}
.home::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url("../images/background_latest.jpg");
    opacity: 0.4;
    background-repeat:repeat;
    background-size:contain;
}
.home_row {
    display: flex;
    flex-direction: column;
    width: 394px;
    margin: auto;
    padding: 5px;
    position: relative;
    align-items: center;
    justify-content: center;
}
.home_header {
    height: 50px;
    color: darkslategray;
    font-size: 16pt;
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 3px;
    align-items: center;
    justify-content: center; 
    z-index: 5;
}
.home_header_title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 3px;
    font-size: 18pt;
    font-weight: 600;
}
.home_button_wrapper {
    height: 72px;
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 3px;
    align-items: center;
    justify-content: center; 
    z-index: 5;
}
button {
    color: darkslategray;
    font-size: 16pt;
    background-color: rgb(228, 169, 142);
    font-weight: bold;
    border: 3px solid gray;
    width: 100%;
    border-radius: 10px;
}
.home_match_wrapper {
    height: calc(100vh - 292px);
    overflow-y: scroll;
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 3px;
    align-items: flex-start;
    justify-content: center; 
    z-index: 5;
}
.match_message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px, auto;
    padding: 3px;
    font-size: 20pt;
    font-weight: 600;
}
.home_match  {
    font-size:12pt;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2px;
    padding: 3px;
    align-items: center;
    justify-content: center; 
    z-index: 5;
    border: 3px solid gray;
    border-radius: 10px;
}
.match_time {
    font-size:12pt;
    display: flex;
    width: 100%;
    margin: auto;
    padding: 3px;
    align-items: center;
    justify-content: center; 
    z-index: 5;
    
}
.match_team {
    display: flex;
    width: 100%;
    margin: 0px;
    align-items: center;
    justify-content: space-between; 
}
.time_text {
    color: darkslategray;
    width: 100%;
    text-align: center;
    border: 2px solid gray;
    border-radius: 10px;
}
.match_team_info {
    font-size: 14px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0px;
    padding: 3px;
}
.match_team_name .match_team_jersey {
    display: flex;
    width: 100%;
    margin: auto;
    padding: 3px;
    align-items: center;
    justify-content: center; 
    z-index: 5;
}
.team_name_text {
    width: 100%;
    text-align: center;
    height: 42px;
}
.bet_button {
    width: 90%;
    border-radius: 10px;
    font-weight: bold;
}
.jersey_img {
    width: 100px;
    height: 133px
}



